!!! 5
%html
  %head
    %title Mailing List Managor
    = stylesheet_link_tag("application", media: "all", "data-turbolinks-tracks" => true)
    = javascript_include_tag("application", "data-turbolinks-track" => true)
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %body
    %nav.navbar.navbar-inverse.navbar-static-top
      .container
        - if current_user
          %p.navbar-text.navbar-right
            = "Signed in as #{current_user.name}, "
            = link_to("Logout", logout_path, class: "navbar-link")
          %ul.nav.navbar-nav
            %li
              = link_to("Mailing Lists", mailing_lists_path)
    .container
      - if flash.notice
        .alert.alert-success.alert-dismissible
          %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times
          = flash.notice
      - if flash.alert
        .alert.alert-danger.alert-dismissible
          %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times
          = flash.alert
      = yield
